/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../../assets/house3.png'); /* Set a background image */
    background-size: cover;
    color: #333;
  }
  
  .profile-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(59, 55, 55, 0.416); /* Slightly transparent white background */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-header h2 {
    color: #080909;
    align-items: center;
 
    /* Primary color */
  }
  
  .back-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
  }
  
  .back-btn:hover {
    color: #007bff;
  }
  
  .error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    color:rgb(190, 173, 150)
  }
  
  .form-group label {
    font-size: 1rem;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 1rem;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .update-btn,
  .logout-btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-btn {
    background-color: #007bff;
    color: white;
  }
  
  .logout-btn {
    background-color: #eaa1a8;
    color: white;
  }
  
  .update-btn:hover {
    background-color: #0056b3;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .profile-container {
      width: 90%;
      padding: 20px;
    }
  
    .button-group {
      flex-direction: column;
      gap: 10px;
    }
  }
  