/* ProfileDetailsCard.css */

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #c8c0c0;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-btn {
    cursor: pointer;
    margin-right: 15px;
    font-size: 20px;
    color: #007bff;
  }
  
  .profile-header h2 {
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 2%;
    font-weight: bold;
    background-color: #030303;


    
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .update-btn, .logout-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-btn {
    background-color: #28a745;
    color: white;
  }
  
  .update-btn:hover {
    background-color: #218838;
  }
  
  .logout-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .logout-btn:hover {
    background-color: #c82333;
  }