/* styles.css */
.testimonial-container {
  margin-bottom: 2rem;
}

.testimonial-quote {
  font-size: 1.2rem;
  font-style: italic;
}

.testimonial-author {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: right;
}

.recent-transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.recent-transactions-table th,
.recent-transactions-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.app-container{
  min-height: max-content;
}